################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DependencyInjection/bin/Debug/net8.0
/DependencyInjection/obj
/.vs/interviews/FileContentIndex/d28e978c-93fe-4e29-8c15-870a4db2fe87.vsidx
/DependencyInjection/Properties/launchSettings.json
/.vs/interviews/v17/.suo
/.vs/interviews/v17/DocumentLayout.backup.json
/.vs/interviews/v17/DocumentLayout.json
/Linq/bin/Debug/net8.0
/Linq/obj
/.vs
